


* {
    background-color: #111;
    box-sizing: border-box;
}

body {
    background-color: #111;
}

a {
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    color: #FFFFFF;
}

.mt-140 {
    margin-top: 140px;
}

.mt-120 {
    margin-top: 120px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-60 {
    margin-top: 60px;
}

.nav-link {
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-align: center;
    padding-left: 30px;
    display: inline;
}

.banner-header {
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 58px;
    color: #FFFFFF;
}

.banner-header2 {
    width: 100%;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    background: radial-gradient(87.16% 2178.88% at 0% 50%, #658BFF 2.08%, #E07FEA 37.5%, #FF9D88 58.85%, #FF7FBB 79.17%, #658BFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 400%;
    animation: animate 15s linear infinite;
}

@keyframes animate{
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400%;
    }
}

.contact-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-indent: 30px;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    width: 280px;
    height: 60px;
    border: 1px solid #FFFFFF;
    border-radius: 33.5px;
    display: flex;
    justify-content: space-between;
}

.contact-btn > img {
    padding-right: 20px;
 }

.grey-text {
    margin-top: 60px;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.2;
}

.shopify-link {
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    border: 1px solid #ffffff41;
    border-radius: 4px;
    width: 180px;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    padding-left: 20px;
    text-align: center;
    align-items: center;
}

.shopify-link > img {
    width: 70px;
    height: 20px;
}
/* 
.buttons {
    position: relative;
} */

/* .header-buttons1 {
    height: 255px;
    width: 333px;
    border-radius: 0px;
    border-left: 1px solid #ffffff41;
    border-right: none;
    border-bottom: none;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    top: -120px;

}

.header-buttons2 {
    height: 255px;
    width: 333px;
    border-radius: 0px;
    border-left: 1px solid #ffffff41;
    border-right: none;
    border-bottom: none;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    top: -120px;
    right: -100px;
}

.header-buttons3 {
    height: 255px;
    width: 333px;
    border-radius: 0px;
    border: 1px solid #ffffff41;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    top: 130px;
}

.header-buttons4 {
    height: 255px;
    width: 333px;
    border-radius: 0px;
    border: 1px solid #ffffff41;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

}

.header-buttons5 {
    height: 255px;
    width: 333px;
    border-radius: 0px;
    border: 1px solid #ffffff41;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

}

.header-buttons6 {
    height: 255px;
    width: 333px;
    border-radius: 0px;
    border: 1px solid #ffffff41;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;

} */


.header-buttons {
    height: 255px;
    width: 333px;
    border-radius: 0px;
    border: 1px solid #ffffff41;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 333px;
    transition: 0.5s ease;
}

.header-buttons:hover {
    background: url(/img/1.png);
}

/* .header-buttons:before {
    content: "Web Development";
    position: absolute;
    bottom: 30px;
    left: 30px;
    padding: 10px; 
} */

.header-buttons1 {
    height: 255px;
    width: 333px;
    border-radius: 0px;
    border: 1px solid #ffffff41;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    top: 0;
    right: 0;
}

.header-buttons1:hover {
    background: url(/img/2.png);
}

.header-buttons2 {
    height: 255px;
    width: 333px;
    border-radius: 0px;
    border: 1px solid #ffffff41;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    top: 255px;
    right: 333px;
}

.header-buttons2:hover {
    background: url(/img/3.png);
}

.header-buttons3 {
    height: 255px;
    width: 333px;
    border-radius: 0px;
    border: 1px solid #ffffff41;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    top: 255px;
    right: 0;
}

.header-buttons3:hover {
    background: url(/img/4.png);
}

.header-buttons4 {
    height: 255px;
    width: 333px;
    border-radius: 0px;
    border: 1px solid #ffffff41;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    top: 510px;
    right: 333px;
}

.header-buttons4:hover {
    background: url(/img/5.png);
}

.header-buttons5 {
    height: 255px;
    width: 333px;
    border-radius: 0px;
    border: 1px solid #ffffff41;
    font-family: 'Mriya Grotesk';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    position: absolute;
    top: 510px;
    right: 0;
}

.header-buttons5:hover {
    background: url(/img/6.png);
}
