* {
  background-color: #111;
  box-sizing: border-box;
}

body {
  background-color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-link:hover {
  color: #ffffff;
}

.mt-140 {
  margin-top: 140px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-60 {
  margin-top: 60px;
}

.nav-link {
  font-family: "Mriya Grotesk";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  padding-left: 30px;
  display: inline;
}

.banner-header {
  font-family: "Mriya Grotesk";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 58px;
  color: #ffffff;
}

.banner-header2 {
  width: 100%;
  font-family: "Mriya Grotesk";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background: radial-gradient(
    87.16% 2178.88% at 0% 50%,
    #658bff 2.08%,
    #e07fea 37.5%,
    #ff9d88 58.85%,
    #ff7fbb 79.17%,
    #658bff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-size: 400%;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

.contact-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-indent: 30px;
  font-family: "Mriya Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  width: 280px;
  height: 60px;
  border: 1px solid #ffffff;
  border-radius: 33.5px;
  display: flex;
  justify-content: space-between;
}

.contact-btn > img {
  padding-right: 20px;
}

.grey-text {
  margin-top: 60px;
  font-family: "Mriya Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #ffffff;
  opacity: 0.2;
}

.shopify-link {
  font-family: "Mriya Grotesk";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: 1px solid #ffffff41;
  border-radius: 4px;
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  padding-left: 20px;
  text-align: center;
  align-items: center;
}

.shopify-link > img {
  width: 70px;
  height: 20px;
}

.header-buttons {
    height: 30vh;
    width: 25vw; 
    border-radius: 0px;
    border: 1px solid #ffffff41;
    font-family: "Mriya Grotesk";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 25vw;
    display: flex;
    align-items: flex-end;
    padding: 30px;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background: conic-gradient(from -0.26deg at 50% 33.33%, rgba(173, 223, 255, 0) 0deg, rgba(255, 127, 187, 0) 93.75deg, rgba(101, 139, 255, 0) 247.5deg, rgba(255, 127, 187, 0) 360deg);
  }
  
  .header-buttons:hover {
      background: conic-gradient(from -0.26deg at 50% 33.33%, rgba(173, 223, 255, 1) 0deg, rgba(255, 127, 187, 1) 93.75deg, rgba(101, 139, 255, 1) 247.5deg, rgba(255, 127, 187, 1) 360deg);
      transition: background 2s ease-in-out;
  }
  

.header-buttons1 {
  height: 30vh;
  width: 25vw;
  border-radius: 0px;
  border: 1px solid #ffffff41;
  font-family: "Mriya Grotesk";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  padding: 30px;
  justify-content: space-between;
}

.header-buttons1:hover {
  background: url(/img/2.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-buttons2 {
  height: 30vh;
  width: 25vw;
  border-radius: 0px;
  border: 1px solid #ffffff41;
  font-family: "Mriya Grotesk";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  position: absolute;
  top: 30vh;
  right: 25vw;
  display: flex;
  align-items: flex-end;
  padding: 30px;
  justify-content: space-between;
}

.header-buttons2:hover {
  background: url(/img/3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-buttons3 {
  height: 30vh;
  width: 25vw;
  border-radius: 0px;
  border: 1px solid #ffffff41;
  font-family: "Mriya Grotesk";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  position: absolute;
  top: 30vh;
  right: 0;
  display: flex;
  align-items: flex-end;
  padding: 30px;
  justify-content: space-between;
}

.header-buttons3:hover {
  background: url(/img/4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-buttons4 {
  height: 30vh;
  width: 25vw;
  border-radius: 0px;
  border: 1px solid #ffffff41;
  font-family: "Mriya Grotesk";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  position: absolute;
  top: 60vh;
  right: 25vw;
  display: flex;
  align-items: flex-end;
  padding: 30px;
  justify-content: space-between;
}

.header-buttons4:hover {
  background: url(/img/5.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.header-buttons5 {
  height: 30vh;
  width: 25vw;
  border-radius: 0px;
  border: 1px solid #ffffff41;
  font-family: "Mriya Grotesk";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  position: absolute;
  top: 60vh;
  right: 0;
  display: flex;
  align-items: flex-end;
  padding: 30px;
  justify-content: space-between;
}

.header-buttons5:hover {
  background: url(/img/6.png);
  background-repeat: no-repeat;
  background-size: cover;
}
